.contact-container {
  text-align: left;
  padding: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  font-size: 3rem;
  color: #0056b3; /* Blue text */
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 20px;
  font-size: 2rem;
  padding-right: 11px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-group {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 10px;
}
#message {
  width: 100%;
}
input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #0056b3; /* Focus blue border */
}

textarea {
  resize: none;
  height: 120px;
}

button {
  align-self: flex-start;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #000; /* Black button */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333; /* Darker grey hover */
}

#message {
  resize: none;
  height: 120px;
  width: 40rem;
}

.contact {
  display: flex;
  flex-direction: column;
}
