.section {
  display: grid;
  grid: 100% 4rem / 1fr 1fr;
  background-color: #b0d8d8;
  margin: 11rem 3.4rem 4rem 3.4rem;
  height: 33rem;
  padding: 47px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.information {
  align-self: self-start;
}
.information h1 {
  font-size: 3rem;
  margin-top: 0;
  color: #1470af;
  width: 95%;
  list-style: none;
  position: relative;
  cursor: pointer;
}
.information h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #1470af;
  transition: width 0.3s ease;
}
.information h1:hover::after {
  width: 100%;
}

.information p {
  font-size: 1.3rem;
  width: 110%;
  font-family: Arial, sans-serif;
}
.information button {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.information button:hover {
  background-color: #444;
  transform: scale(1.05);
}
.images {
  justify-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 29px;
}

.images img {
  filter: grayscale(47%) brightness(1);
  height: 27rem;
  border-radius: 8px;
  width: 16rem;
}
.images img:hover {
  filter: grayscale(0%) brightness(1);
}
