.navbar {
  display: grid;
  grid: 4rem / auto auto;
  color: #1470af;
  position: sticky;
  top: 0;
  z-index: 1; /* Ensures navbar stays on top */
  border-bottom: 1px solid #bee0e0;
  background-color: #cfefef;
}
.navbar h1 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
}
.ul1 {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 104px;
  height: 2.5rem;
  padding-right: 3.5rem;
}
.ul1 li {
  list-style: none !important;
  text-decoration: none !important;
  justify-self: flex-end;
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: #1470af;
}
.ul1 li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #1470af;
  transition: width 0.3s ease;
}
.ul1 li:hover::after {
  width: 100%;
}
.AquaLife {
  padding-left: 3.5rem;
}
.ImagePosition {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ImagePosition img {
  filter: grayscale(40%) contrast(120%) brightness(0.9);
  height: 47rem;
}
